body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: orange;
}

h1 {
  text-align: center;
}

.animal_list > div {
  display: flex;
  flex-wrap: wrap;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 12rem;
  margin: 0.5rem;
  border: 2px solid peru;
  border-radius: 3px;
}

.card img {
  max-width: 100%;
}